<div class="info-position">
    <div class="fotoperfil">
        <img src={{otherUser.picPath}} class="avatar img-circle" alt="avatar">
    </div>

    <div class="personal-info">
        <h3>Personal info</h3>


        <div class="datos-personal-info">
            <div class="campos-info">
                <label class="labels">Email:</label>
                <p class="datos">{{otherUser.email}}</p>
            </div>
            <div>
                <label class="labels">Username:</label>
                <p class="datos">{{otherUser.username}}</p>
            </div>
        </div>


    </div>
</div>

<hr>
<div style="text-align: center">
    <h4 style="display:inline-block">Collections</h4>
<div class="flex-albums otherUser-albums">
        {{#each otherUser.albums}}
    <div class="album-container">
        <p class="albumId d-none">"{{this._id}}"</p>
        <a href="/{{this._id}}/{{../otherUser._id}}/pictures">
            <div class="album">

                <h5>{{name}}</h5>
                <img src={{cover}}
                    alt="">
            </div>
        </a>
    </div>



    {{/each}}    

</div>

</div>