<div class="flex-Photos margin-top">
    {{#each Pictures}}
    <div class="pic-card">

        <div><p>{{lastUser}}</p></div>

        <div>
            <img src={{path}} alt="">
        </div>
        
        <div class="btn-generales-fotos">
            
            <button class="fav-btn">
                <i class="far fa-heart"></i>
            </button>
            
            {{#if users}}
            <h5>{{users}}<i class="fas fa-heart"></i></h5>
            {{/if}}
            

            <select class="choose-album" name="select">
                {{#each ../albums}}
                <option value={{_id}}>{{name}}</option>
                {{/each}}
            </select>
        </div>

    </div>
    {{/each}}
</div>