
<div class="margin-top flex-albums">
    <div class="album-container" >
        <p class="albumId d-none">{{album_0._id}}</p>
        <a href="/{{album_0._id}}/pictures">
            <div class="album" style="border:1px solid black">

                <h5>{{album_0.name}}</h5>
                <img src='{{album_0.cover}}'
                    alt="">
            </div>
        </a>
        
    </div>
    {{#each albums}}
    <div class="album-container">
        <p class="albumId d-none">{{this._id}}</p>
        <a href="/{{this._id}}/pictures">
            <div class="album">

                <h5>{{name}}</h5>
                <img src={{cover}}
                    alt="">
            </div>
        </a>
        <button class="delete-album-btn">
            <i class="far fa-trash-alt"></i>
        </button>
    </div>



    {{/each}}
    <div class="add-album">


        <i class="fas fa-plus-circle"></i>


    </div>

</div>